body {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 18px;
    line-height: #777;
}

/*
 *general
*/

h1,
h2,
h3,
p {
    /* font-family: Consolas, monaco, monospace; */
    font-family: avenir next, avenir, sans-serif;
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3 {
    font-family: avenir;
    color: #18bfef;
    font-weight: 700;
}

h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
}

/* 
 * header
*/

#masthead {
    position: fixed;
    z-index: 99;
}

#logo {
    font-family: "Carter One";
    font-size: 24px;
    /* font-style: normal;
    font-variant: normal; */
    font-weight: bold;
    /* line-height: 26px; */
}

/* 
main 
*/

#main-container {
    min-height: calc(100vh - 70px);
    position: absolute;

}

nav {
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 50px #5E5E5E;
}

.main-section {
    width: 100%;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

/*
 * portfolio 
*/

.work {
    position: relative;
    float: right;
    width: 274px;
    height: 202px;
    overflow: auto;
}

.work:nth-child(even) {
    margin-right: 40px;
}

.work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

.work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #18bfef;
    border-bottom: 0;
}

/*
 * footer
*/

footer {
    padding: 30px;
    clear: both;
    font-size: 12px;
    /* color: #fff;
    color: #777; */
    text-align: center;
    background-color: #666;
    border-top: 8px solid #2b6879;
    height: 50px;
}

/* 
 * responsive
*/

@media screen and (max-width: 768px) {
    .work {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 640px) {

    h1 {
        text-align: center;
    }

    #logo {
        width: 100%;
        height: 200px;
        text-align: center;
        margin-bottom: 0px;
    }

    nav {
        width: 100%;
        text-align: center;
        position: fixed;
    }

    input[type=submit] {
        width: 100%;
    }
}